{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
<br>
<br>
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <main>
    <h1 style="text-align: center">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p style="text-align: center; font-size: 20px" >{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </main>
{% endblock %}
